body {
    background-color:#E4FFFE;
    font-family: Arial;
    font-size: 18px;
	margin-top: 25px;
    margin-left: 100px;
    margin-right: 100px;
}

.titulos {
	color: #ff9900;
	background-color: #146eb4;
	text-align: center
}

#tabla1 {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tabla1 td, #tabla1 th {
    border: 1px solid #146eb4;
    padding: 8px;
}

#tabla1 tr:nth-child(even) {
	background-color: #dddddd;
}

#tabla1 th {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    background-color: #146eb4;
    color: #ff9900;
}

a:link {
    color: blue;
}